body {
  margin: 0;
  font-family: Arial;
  color: white;
}

.bg {
  background: linear-gradient(120deg, #b30000, #006400);
  height: 100vh;
}

.center {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

h1, h2 {
  font-size: 28px;
  margin-bottom: 20px;
}

.btn {
  padding: 14px 32px;
  font-size: 18px;
  border-radius: 25px;
  border: none;
  background: gold;
  cursor: pointer;
}

input {
  padding: 12px;
  font-size: 16px;
  border-radius: 10px;
  border: none;
}

canvas {
  border-radius: 50%;
  border: 8px solid gold;
  margin: 20px;
}
